name: Community

on:
  issues:
    types: [opened, edited, milestoned]
  pull_request_target:
    types: [opened]

permissions:
  contents: read

# .github/labeler.yml
jobs:
  labeler_action:
    if: ${{ github.event.pull_request.user.login != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Check Labels
        id: labeler
        uses: jimschubert/labeler-action@9de503efea5ac8db8056b29e768ccc372cf6ba91 # v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
