name: Release Version

on:
  push:
    branches: [main]
    # paths-ignore:
    #   - ".github/**"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: main
      - name: Set up Python 3
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: |
            3.13
          check-latest: true
          cache: "pip" # caching pip dependencies

      - name: Install dependencies
        env:
          PHONENUMBER: ${{ secrets.PHONENUMBER }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: |
          pip install --require-hashes -r ./.github/workflows/config/requirements.txt
          python ./.github/actions/update_readme.py

      - name: Get Version
        id: version
        shell: bash
        run: |
          version="$(python3 ./.github/actions/get_version.py)"
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Is Tag exists
        uses: mukunku/tag-exists-action@bdad1eaa119ce71b150b952c97351c75025c06a9
        id: checkTag
        with:
          tag: ${{ steps.version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - if: steps.checkTag.outputs.exists == 'false'
        name: Check Tag
        id: check-tag
        run: |
          if [[ "${{ steps.version.outputs.version }}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              echo "match=true" >> $GITHUB_OUTPUT
          fi

      - name: ZIP Component Dir
        if: steps.checkTag.outputs.exists == 'false'
        run: |
          mkdir -p ${{ github.workspace }}/binaries
          cd ${{ github.workspace }}/custom_components/xplora_watch
          zip -r xplora_watch.zip ./
          mv xplora_watch.zip ${{ github.workspace }}/binaries/xplora_watch.zip

      - name: Upload build artifacts
        if: steps.checkTag.outputs.exists == 'false'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          retention-days: 1
          if-no-files-found: error
          name: xplora_watch-binaries
          path: |
            ./binaries/*

      - name: Download build artifacts
        if: steps.checkTag.outputs.exists == 'false'
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: xplora_watch-binaries

      - name: Display structure of downloaded files
        if: steps.checkTag.outputs.exists == 'false'
        run: ls -R

      - name: Install Cosign
        if: steps.checkTag.outputs.exists == 'false'
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Generate key pair
        if: steps.checkTag.outputs.exists == 'false'
        run: cosign generate-key-pair

      - name: Sign and generate attestations
        if: steps.checkTag.outputs.exists == 'false'
        run: |
          cosign sign-blob \
            --key ./cosign.key \
            --yes \
            --output-signature ./xplora_watch.zip.sig \
            ./xplora_watch.zip

          cosign attest-blob \
            --predicate - \
            --key ./cosign.key \
            --yes \
            --output-attestation ./xplora_watch.zip.intoto.jsonl \
            ./xplora_watch.zip

          cosign verify-blob \
            --key ./cosign.pub \
            --signature ./xplora_watch.zip.sig \
            ./xplora_watch.zip

      - name: Display structure of downloaded files
        if: steps.checkTag.outputs.exists == 'false'
        run: ls -R

      - name: Upload signed artifacts
        if: steps.checkTag.outputs.exists == 'false'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          retention-days: 1
          if-no-files-found: error
          name: xplora_watch-signed
          path: |
            xplora_watch.zip
            xplora_watch.zip.intoto.jsonl
            xplora_watch.zip.sig
            !cosign.*

      - name: Download signed artifacts
        if: steps.checkTag.outputs.exists == 'false'
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: xplora_watch-signed

      - name: Display structure of downloaded files
        if: steps.checkTag.outputs.exists == 'false'
        run: ls -R

      - name: Upload binaries, attestations and signatures to Release and create GitHub Release
        if: steps.checkTag.outputs.exists == 'false'
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          tag_name: ${{ steps.version.outputs.version }}
          name: ${{ steps.version.outputs.version }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          generate_release_notes: true
          files: |
            xplora_watch.zip
            xplora_watch.zip.intoto.jsonl
            xplora_watch.zip.sig
