name: Unlock reopened issue

on:
  issues:
    types: [reopened]

permissions:
  contents: read

jobs:
  unlock:
    name: Unlock Reopened
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: OSDKDev/unlock-issues@b06b7f7e5c3f2eaa1c6d5d89f40930e4d6d9699e # v1
        with:
          repo-token: "${{ secrets.TOKEN }}"
